/boot_AI_Agent/.env
/functional_programming/CH6/L4_Closure_Practice/__pycache__
/functional_programming/CH7/L4_Currying_Practice/__pycache__
/functional_programming/CH7/L6_Currying_Practice/__pycache__
/functional_programming/CH8/L2_Args_and_Kwargs/__pycache__
/functional_programming/CH9/L5_Match/__pycache__
/functional_programming/CH8/L3_Args_and_Kwargs_Practice/__pycache__
/functional_programming/CH9/L6_Sum_Types_Practice/__pycache__
/boot_AI_Agent/calculator/pkg/__pycache__
